.venue-detail-container {
    margin-top: 50px;
}

.venue-detail-image {
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
}

.venue-detail-content {
    margin-top: 30px;
}

.venue-detail-rating {
    color: #ffca3a;
    font-size: 1.5rem;
}

.venue-detail-price {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.venue-detail-price-text {
    display: block;
    margin-bottom: 10px;
}

.venue-detail-price-amount {
    display: block;
    font-size: 2rem;
    margin-bottom: 5px;
}

.carousel-item {
    height: 800px; /* set the height to your desired fixed size */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

    .carousel-item img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}

@media screen and (max-width: 800px) {
    .carousel-item {
        height: 400px; /* or any other fixed height for smaller screens */
    }
}
