body {
    background-color: #eee;
}
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.card-image {
    height: 200px;
}


@media (max-width: 767.98px) {
    .border-sm-start-none {
        border-left: none !important;
    }
}
